#music-player {
    width: 365px;
    margin: 60px auto;
    text-align: center;
    background-image: url("BaiHat/bgapp.jpg");
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: cursive
}

#lyrics-canvas {
    border-radius: 6px;
    border:1px solid #000000;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    width: 100%;
}

#timetime {
    display: flex;
    justify-content: space-between;
    width: 100%;
    ont-size: 18px;
    font-weight: bold;
}

#seek-bar {
    width: -webkit-fill-available;
}

#play-pause {
    font-size: 18px;
}